[application]
path = app cloudmgrnuiws
name = cloudmgrnuiws
debug = off

[database]
activated = off
uri = sqlite:///$here/../data/cloudmgrnuiws.db
metadata = cloudmgrnuiws.models:__metadata__
debug = off

[specific]
path = /etc/mdp/apps.d/cloudmgrnuiws/
